@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Reset de estilo */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

/* Estilo do Navegador */
nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

/* Container do menu de navegação */
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    top: 30px;
    z-index: 1000;
}

/* Estilo do logo */
.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #9e26d6;
    text-shadow: 0 0 10vw #9e26d6;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown .links a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.2s linear;
}

/* Estilo do botão Hamburguer */
.hamburg, .cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

/* Links de navegação */
.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

/* Efeito de hover nos links */
.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #9e26d6;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #9e26d6;
}

/* Estilo da seção principal */
section {
    width: 100%;
    height: 90vh;
}

@keyframes animate {
    0% { scale: 1; }
    50% { scale: 1.05; }
    100% { scale: 1; }
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #9e26d6;
    text-shadow: 0 0 10px #9e26d6;
}

.content p {
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

/* Estilos para a página Sobre */
.texto {
    color: #e0e0e0;
    text-align: center;
    margin-top: 10px;
}

.card {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* aumenta o tamanho do card ao passar com o mouse em cima */
}

p {
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.feature {
    background-color: #2d2d2d;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(25% - 30px);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.feature:hover {
    transform: scale(1.05) rotate(3deg); /* Aplica um leve efeito de rotação */
    box-shadow: 0 6px 20px rgba(10, 10, 10, 0.3); /* Aumenta a sombra */
    opacity: 0.9; /* Leve transparência ao passar o mouse */
}

.feature i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #9e26d6;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    line-height: 1.5;
}

.feature {
    transition: transform 0.3s ease-in-out;
}

@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}

@media (max-width: 440px) {
    /* Card */
    .card {
        width: 70%; /* Ajusta a largura do card */
        height: 40%; /* Deixa a altura adaptável */
        padding: 15px; /* Ajuste o padding para não ficar tão apertado */
    }

    /* Títulos (h1) */
    .content h1 {
        font-size: 1.2rem; /* Ajuste para um tamanho de texto menor */
    }

    /* Texto */
    .content p, .texto {
        font-size: 0.2rem; /* Ajuste o tamanho da fonte */
        margin: 5px 0; /* Ajuste a margem para maior leitura em telas pequenas */
    }

    /* Features - Ajustes para garantir que todos os itens apareçam */
    .features {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: ; /* Distribui os itens igualmente */
        padding-bottom: 10px; /* Evita que o scroll sobreponha outros elementos */
        flex-direction: row; /* Coloca as features em uma coluna */
        align-items: center; /* Centraliza as features */
    }

    .feature {
        width: 25%; /* Ajusta a largura para que 2 features possam caber por linha */
        height: auto; /* Ajusta a altura automaticamente */
        padding: 10px; /* Reduz o padding */
        font-size: 0.8rem; /* Ajusta o tamanho da fonte nas features */
    }

    .feature i {
        font-size: 2rem; /* Ajusta o tamanho dos ícones */
    }

    .feature h3 {
        font-size: 1rem; /* Ajuste o tamanho do título da feature */
    }

    .feature p {
        font-size: 0.9rem; /* Ajuste o tamanho da fonte do parágrafo */
    }

    /* Ajustes para o botão hamburguer */
    .hamburg, .cancel {
        font-size: 2rem; /* Ajuste o tamanho da fonte do ícone */
    }

    /* Ajustar o logo */
    .logo {
        font-size: 1.5rem; /* Ajuste o tamanho do logo */
    }

    /* Ajuste o tamanho dos links no dropdown */
    .dropdown .links a {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos links no menu dropdown */
        padding: 10px 15px; /* Ajuste o padding para os links não ficarem tão grandes */
        margin-top: auto;
    }

    /* Ajustes no texto das seções */
    .texto {
        font-size: 0.7rem; /* Ajuste o tamanho da fonte do texto */
    }
}

@media (max-width: 375px) {
    /* Card */
    .card {
        width: 70%; /* Ajusta a largura do card */
        height: 40%; /* Deixa a altura adaptável */
        padding: 15px; /* Ajuste o padding para não ficar tão apertado */
    }

    /* Títulos (h1) */
    .content h1 {
        font-size: 1rem; /* Ajuste para um tamanho de texto menor */
    }

    /* Texto */
    .content p, .texto {
        font-size: 10px; /* Ajuste o tamanho da fonte */
        margin: 5px 0; /* Ajuste a margem para maior leitura em telas pequenas */
    }

    /* Features - Ajustes para garantir que todos os itens apareçam */
    .features {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row; /* Coloca as features em uma coluna */
        align-items: center; /* Centraliza as features */
    }

    .feature {
        width: 25%; /* Ajusta a largura para que 2 features possam caber por linha */
        height: 25%; /* Ajusta a altura para que as features fiquem quadradas */
        padding: 10px; /* Reduz o padding */
        font-size: 0.7rem; /* Ajusta o tamanho da fonte nas features */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature i {
        font-size: 2.0rem; /* Ajusta o tamanho dos ícones */
    }

    .feature h3 {
        font-size: 0.5rem; /* Ajuste o tamanho do título da feature */
    }

    .feature p {
        padding: 10px 0; /* Ajuste o padding do parágrafo */
        font-size: 0.7rem; /* Ajuste o tamanho da fonte do parágrafo */
        text-align: center; /* Centraliza o texto */
    }

    /* Ajustes para o botão hamburguer */
    .hamburg, .cancel {
        font-size: 1rem; /* Ajuste o tamanho da fonte do ícone */
    }

    /* Ajustar o logo */
    .logo {
        font-size: 1.0rem; /* Ajuste o tamanho do logo */
    }

    /* Ajuste o tamanho dos links no dropdown */
    .dropdown .links a {
        font-size: 1rem; /* Ajusta o tamanho da fonte dos links no menu dropdown */
        padding: 10px 15px; /* Ajuste o padding para os links não ficarem tão grandes */
        margin-top: auto;
    }

    /* Ajustes no texto das seções */
    .texto {
        font-size: 0.6rem; /* Ajuste o tamanho da fonte do texto */
    }
}
